@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="text-center py-5 mb-5 bg-light-purple rounded-4 shadow-sm">
        <h1 class="display-4 text-purple fw-bold">Bienvenidos a Casitas Propiedades</h1>
        <p class="lead mt-3">Encuentra tu próximo hogar o propiedad comercial de manera rápida y segura.</p>
    </div>
</div>