@model inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Editar un inquilino";
}

<div class="container mt-5">
    <h2 class="mb-4">Edición de Inquilinos</h2>

     <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="id_inquilino" />
        <div class="mb-3">
            <label asp-for="dni_inquilino" class="form-label">DNI</label>
            <input asp-for="dni_inquilino" class="form-control" />
            <span asp-validation-for="dni_inquilino" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="nombre_inquilino" class="form-label">Nombre</label>
            <input asp-for="nombre_inquilino" class="form-control" />
            <span asp-validation-for="nombre_inquilino" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="apellido_inquilino" class="form-label">Apellido</label>
            <input asp-for="apellido_inquilino" class="form-control" />
            <span asp-validation-for="apellido_inquilino" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="email_inquilino" class="form-label">Email</label>
            <input asp-for="email_inquilino" class="form-control" />
            <span asp-validation-for="email_inquilino" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="telefono_inquilino" class="form-label">Teléfono</label>
            <input asp-for="telefono_inquilino" class="form-control" />
            <span asp-validation-for="telefono_inquilino" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
